@model Project_KFC_WEB.Models.account

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="">
    <br />
    <h2 class="box-title" style="font-size: 24px; padding-left: 10px; font-weight: 700; color: green; ">Bạn có chắc chắn muốn xóa tài khoản này ?</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="box-tools pull-left">
            <a class="btn btn-default btn-sm" style="margin-left: 10px;" href="@Url.Action("Index", "Accounts", new { page = (int)Session["currentPageAccount"] })"><i class="fa fa-solid fa-arrow-left"></i> Quay lại</a>
            <button class="btn btn-sm alert-danger" type="submit" style="margin-left:10px"><i class="fa fa-check"></i> xóa tài khoản</button>
        </div>
    }
</div>
