@model Project_KFC_WEB.Models.discountCode

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "DisCountCodes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal box-header with-border">
    <div class="box-header with-border">
        <h2 class="box-title" style="font-size: x-large; padding-left: 10px; font-weight: 700; color: green; ">Tạo mới mã giảm giá</h2>
        <div class="box-tools pull-right">
            <button class="btn btn-info btn-sm" type="submit"><i class="fa fa-check"></i> Tạo mới</button>
            <button class="btn btn-default btn-sm" type="reset"><i class="fa fa-refresh"></i> Làm mới dữ liệu</button>
        </div>
    </div>
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.discount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.discount, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "any" } })
            @Html.ValidationMessageFor(model => model.discount, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
}

<div>
    <a class="btn btn-default btn-sm" style="margin-left: 10px; margin-top: 10px" href="@Url.Action("Index", "DiscountCodes")"><i class="fa fa-solid fa-arrow-left"></i> Quay lại</a>
</div>