
@model Project_KFC_WEB.Models.account

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }
</style>

<div style="margin-top: 120px;">
    <div class="container">
        <div>
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>@Model.name</h4>
                                    <p class="text-muted font-size-sm">@Model.userName</p>
                                    <a href="@Url.Action("Logout", "Login")" class="btn btn-info" style="height: 34px !important; color: white !important;">Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        @using (Html.BeginForm("ChangeProfile", "Login", FormMethod.Get))
                        {
                            <div class="card-body">
                                <div class="row">
                                    @if (ViewBag.message != null)
                                    {
                                        <div class="text-danger ml-5" style="font-size: 20px">@ViewBag.message</div>
                                    }
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="" style="margin-top: 10px">Họ và tên</h6>
                                    </div>
                                    <input type="text" id="form3Example3" class="form-control form-control-lg col-sm-9 text-secondary" name="name" style="border:none"
                                           placeholder="Họ tên của bạn" value="@Model.name" />
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="" style="margin-top: 10px">Email</h6>
                                    </div>
                                    <div class=" col-sm-9 text-secondary" style="font-size: 1.25rem">
                                        @Model.userName
                                    </div>

                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="" style="margin-top: 10px">Số điện thoại</h6>
                                    </div>
                                    <input type="text" id="form3Example3" class="form-control form-control-lg col-sm-9 text-secondary" name="phone" style="border:none"
                                           placeholder="Nhập số điện thoại của bạn" value="@Model.phone" />
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class=" " style="margin-top: 10px">Địa chỉ</h6>
                                    </div>
                                    <input type="text" id="form3Example3" class="form-control form-control-lg col-sm-9 text-secondary" name="address" style="border:none"
                                           placeholder="Nhập địa chỉ của bạn" value="@Model.address" />
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Mật khẩu</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary" style="display: flex; column-gap: 30px; align-items: center">
                                        <div>********</div>
                                        <div class="">
                                            <div class="btn btn-info " data-toggle="modal" data-target="#exampleModalCenter" style="height: 34px !important">Đổi mật khẩu</div>
                                        </div>
                                    </div>

                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-info " type="submit" style="height: 34px !important">Chỉnh sửa</button>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                    <div class="">
                        <div style="font-size: 30px; margin-bottom: 20px; font-weight: 700; color: #333">Sản phẩm đã đặt</div>
                        @if (ViewBag.cartPage != null)
                        {
                            foreach (var item in ViewBag.cartPage)
                            {
                                string priceVND = double.Parse($"{item.totalPrice}").ToString("#,###", new System.Globalization.CultureInfo("vi-VN")) + "đ";

                                <div class="row" style="height: 200px; margin-bottom: 15px ;box-shadow: 0 1px 6px 0 rgba(0,0,0,.2); border-radius: 8px; display: flex; background-color: white">
                                    <div style="display: flex; align-items: center" class="col-4">
                                        <img src="~/Upload/@item.food.image" style="width: 100%" class="zoom" />
                                    </div>
                                    <div class="col-8" style="display: flex; justify-content: space-between; align-items: center">
                                        <div class="col-7">
                                            <div style="color: #333; font-size: 20px; font-weight: 700">@item.food.name</div>
                                            <div style="color: #333; font-size: 16px;">@item.food.description</div>
                                            <div style="margin-top: 10px;">
                                                @*<a href="@Url.Action("DeleteCart", "Home", new { id = item.idFood})" style="color: #333 !important; font-size: 20px!important; font-weight: 700!important; text-decoration: underline!important; cursor: pointer!important">Mua lại</a>*@
                                            </div>
                                        </div>
                                        <div class="col-3" style="display: flex; justify-content: center; flex-wrap: wrap">
                                            <div style="display:flex; column-gap: 20px; align-items: center; height: 100%">
                                                <a id="minus-btn" style="height: 30px; width: 30px; border: 1px solid #333; border-radius: 50%; text-align: center; cursor: pointer"> <span style="font-size: 18px; color: #333"><i class="icon-minus"></i></span></a>
                                                <div id="quantity-display"><span style="font-size: 20px; color: #333; font-weight: 700; ">@item.quantity</span></div>
                                                <a id="plus-btn" style="height: 30px; width: 30px; border: 1px solid #333; border-radius: 50%; text-align: center; cursor: pointer "> <span style="font-size: 18px; color: #333"><i class="icon-plus"></i></span></a>
                                            </div>
                                            <div id="result">
                                                <span id="price" style="color: #333; font-weight: 700; font-size: 20px">@priceVND</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                    <div class="row" style="margin-bottom: 20px; justify-content: space-between; padding-right: 15px; padding-left: 15px;">

                        <div style="display:flex; column-gap: 10px">
                            <a href="@Url.Action("Profile", "Login", new {  page = 1})" class="btn btn-info" style="height: 34px;">Trang đầu</a>
                            <a href="@Url.Action("Profile", "Login", new {  page = Convert.ToInt32(ViewBag.currentPage) + 1})" class="btn btn-info" style="height: 34px;">Trang tiếp</a>
                            <a href="@Url.Action("Profile", "Login", new {  page = Convert.ToInt32(ViewBag.totalPages)})" class="btn btn-info" style="height: 34px;">Trang cuối</a>
                        </div>
                        <ul style="display: flex; column-gap: 10px; align-items: center">
                            <span style="margin-top: 5px; color: red; font-size: large; font-weight: 600 ">Trang: </span>
                            @{
                                for (int i = 1; i <= Convert.ToInt32(ViewBag.totalPages); i++)
                                {
                                    if (i == Convert.ToInt32(ViewBag.currentPage))
                                    {
                                        <li style="list-style: none; cursor: pointer; margin-top: 5px;"><a style="color: red; font-size: large">@i</a></li>
                                    }
                                    else
                                    {
                                        <li style="list-style: none; cursor: pointer; margin-top: 5px;"><a href="@Url.Action("Profile", "Login", new {  page = i})" style="color: #333; font-size: large">@i</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                        }
                        else
                        {
                            <div style="font-weight: 700; font-size: 20px; color: #333; margin-bottom: 20px;">Giỏ hàng trống! Vui lòng đặt hàng <a href="@Url.Action("Menu", "Home")" style="color: red;"> tại đây</a> ...</div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Đổi mật khẩu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row" style="justify-content: center; row-gap: 20px">
                    <div class="" style="width:80%; ">
                        <input type="password" id="form3Example3" class="form-control form-control-lg text-secondary" name="passwordLast"
                               placeholder="Nhập mật khẩu hiện tại của bạn" />
                    </div>

                    <div style="width:80%; ">

                        <input type="password" id="form3Example3" class="form-control form-control-lg text-secondary" name="passwordNew1"
                               placeholder="Nhập mật khẩu cũ của bạn" />
                    </div>

                    <div style="width:80%; ">

                        <input type="password" id="form3Example3" class="form-control form-control-lg text-secondary" name="passwordNew2"
                               placeholder="Nhập lại mật khẩu mới của bạn" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        }
    </div>
</div>

