
@model Project_KFC_WEB.Models.food

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 120px" class="container">

    <div style="">
        <a href="@Url.Action("Menu", "Home", new { index = ViewBag.index})">@ViewBag.category.name</a>
        <span style="#333"> > @Model.name</span>
    </div>
    <div class="row" style="margin-top: 30px; margin-bottom: 50px">
        <div class="col-5">
            <img src="~/Upload/@Model.image" style="width: 100%" class="" />
        </div>
        <div class="col-7">
            <div style="min-height: 350px ;padding-bottom: 40px; width: 80%; background-color: #fff; margin-left: 30px; border-radius: 8px; box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.85); position: relative">
                <div style="height: 40px">
                    <div style="display: flex; height: 100%; column-gap: 10px; padding-left: 50px;">
                        <div style="height: 100%; width: 20px; background-color: red; "></div>
                        <div style="height: 100%; width: 20px; background-color: red; "></div>
                        <div style="height: 100%; width: 20px; background-color: red; "></div>
                    </div>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 15px">
                    <span style="font-weight: 700; font-size: 28px; color: #333">@Model.name</span>
                </div>
                <div style="padding: 10px 20px; display: flex; justify-content: center">
                    <span style=" color: #333; font-size: 18px">@Model.description</span>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px">
                    <div style="width: 90%; height: 2px; border-radius: 4px; background-color: #ccc"></div>
                </div>
                <div style="position: absolute; bottom: 20px; left: 0; width: 100%; padding: 0 20px">
                    <div style="height: 80px; width: 100%; display: flex; justify-content: space-between; align-items: center">
                        <div style="display:flex; column-gap: 20px; align-items: center; height: 100%">
                            <div id="minus-btn" style="height: 50px; width: 50px; border: 1px solid #333; border-radius: 50%; text-align: center; cursor: pointer"> <span style="font-size: 30px; color: #333"><i class="icon-minus"></i></span></div>
                            <div id="quantity-display"><div id="quantity" style="font-size: 40px; color: #333; font-weight: 700; ">1</div></div>
                            <div id="plus-btn" style="height: 50px; width: 50px; border: 1px solid #333; border-radius: 50%; text-align: center; cursor: pointer "> <span style="font-size: 30px; color: #333"><i class="icon-plus"></i></span></div>
                        </div>
                        <div id="result">
                            <a id="add" style="width: 240px; background-color: red; padding: 12px 20px; border-radius: 40px; display:flex; justify-content: space-between; cursor: pointer">
                                <span style="color: white; font-weight: 700; font-size: 20px">Thêm</span>
                                <span id="price" style="color: white; font-weight: 700; font-size: 20px">@Model.price</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let quantity = 1;
    let price = @Model.price

    if (@ViewBag.discount > 0) {
        price = @Model.price * ((100 - @ViewBag.discount) / 100);

    }

    function formatPrice(amount) {
        return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
    }

    function updateQuantity() {
        document.getElementById('quantity-display').innerHTML = `<span id="quantity" style="font-size: 40px; color: #333; font-weight: 700;">${quantity}</span>`;
        document.getElementById('price').textContent = `${formatPrice(quantity * price)}`;
    }

    document.getElementById('plus-btn').addEventListener('click', function() {
        quantity++;
        updateQuantity();
    });

    document.getElementById('result').addEventListener('click', function () {
        const quantity = document.getElementById('quantity').innerText;

        var url = "/Home/AddCart?Id=" + @Model.id+ "&view= /Menu" + "&quantity=" + quantity;

        document.getElementById('add').href = url;

        @*window.location.href =@Url.Action("AddCart", "Home", new { id = Model.id, view = "Menu", quantity = quantityX })*@


    });

    document.getElementById('minus-btn').addEventListener('click', function() {
        if (quantity > 1) {
            quantity--;
            updateQuantity();
        }
    });

    updateQuantity();
</script>
